<template>
    <div>
        <a href="https://vitejs.dev" target="_blank" rel="noopener noreferrer">
            <img src="/vite.svg" class="logo" width="96" height="96" alt="Vite logo" decoding="async" />
        </a>
        <a href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">
            <img
                src="./assets/vue.svg"
                class="logo vue"
                width="96"
                height="96"
                alt="Vue logo"
                decoding="async"
            />
        </a>
    </div>
    <HelloWorld msg="Vite + Vue" />
</template>

<script setup>
import HelloWorld from './components/HelloWorld.vue';
</script>

<style scoped>
.logo {
    height: 6em;
    padding: 1.5em;
    transition: filter 300ms;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
