<template>
    <button type="button" :class="classes" @click="onClick" :style="style">{{ label }}</button>
</template>

<script>
import './button.css';
import {reactive, computed} from 'vue';

export default {
    name: 'MyButton',

    props: {
        label: {
            type: String,
            required: true
        },
        primary: {
            type: Boolean,
            default: false
        },
        size: {
            type: String,
            default: 'medium',
            validator(value) {
                return ['small', 'medium', 'large'].indexOf(value) !== -1;
            }
        },
        backgroundColor: {
            type: String,
            default: ''
        }
    },

    emits: ['click'],

    setup(_props, {emit}) {
        const props = reactive(_props);
        return {
            classes: computed(() => ({
                'storybook-button': true,
                'storybook-button--primary': props.primary,
                'storybook-button--secondary': !props.primary,
                [`storybook-button--${props.size || 'medium'}`]: true
            })),
            style: computed(() => ({
                backgroundColor: props.backgroundColor
            })),
            onClick() {
                emit('click');
            }
        };
    }
};
</script>
