/**
 * [Warning]:
 * Don't update this file manually.
 * This is auto generated token variables from "Style Dictionary".
 * Please update "web/.style-dictionary/tokens/*.yaml" and run `pnpm run styled`.
 */

/* ----------------------------------------------------------------
 *    color
 * ---------------------------------------------------------------- */
/* Neutral Colors
----------------------------------------------- */
$color-gray-0: #fff;
$color-gray-5: #f1f1f1;
$color-gray-15: #d9d9d9;
$color-gray-50: #999;
$color-gray-70: #4d4d4d;
$color-gray-90: #333;

/* Primary Colors
----------------------------------------------- */
$color-primary-10: #fceee8;
$color-primary-30: #f8cabc;
$color-primary-100: #c00033;

/* Text Colors
----------------------------------------------- */
$color-text-strong: #333;
$color-text-medium: #4d4d4d;
$color-text-low: #d9d9d9;
$color-text-white: #fff;

/* ----------------------------------------------------------------
 *    effect
 * ---------------------------------------------------------------- */
$effect-focus-ling: 2px solid #9ccbf3;
$effect-shadow-lv1: 0 3px 6px 1px rgba(#000, .16);
$effect-shadow-lv2: 0 5px 10px 2px rgba(#000, .18);
$effect-shadow-lv3: 0 8px 12px 4px rgba(#000, .2);
$effect-shadow-lv4: 0 12px 20px 4px rgba(#000, .2);

/* ----------------------------------------------------------------
 *    font-weight
 * ---------------------------------------------------------------- */
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

/* ----------------------------------------------------------------
 *    breakpoints
 * ---------------------------------------------------------------- */
$breakpoints: (
    'pc': '1024px <= width',
    'tb': 'width <= 1023px',
    'sp': 'width <= 767px'
) !default;

/* ----------------------------------------------------------------
 *    font-size
 * ---------------------------------------------------------------- */
$font-size-small: 10rem;
$font-size-medium: 16rem;
$font-size-large: 24rem;
